<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" v-cloak>
        <div>
            <button v-on:click="changePage('forum')">forum</button>
            <button v-on:click="changePage('thread')">thread</button>

        </div>
        <!--<button v-on:click="antiMrClean">HITMAN</button>-->

        <div v-if="page == 'forum'">
          <select v-model="filter_catigory">
              <option v-for="category in categories" v-bind:value="category">
                  {{category}}
              </option>
          </select>
          <ul>
              <li v-for="thread in sorted_threads">
                  <div v-on:click="viewPost(thread)">
                      {{thread.name}} by {{thread.author}}
                      <br>
                      {{thread.description}} and {{thread.category}}
                  </div>

                  <button v-on:click="deleteThread(thread)">Delete</button>
                  <button v-on:click="viewPost(thread)">View</button>
  
              </li>
          </ul>
      </div>


      <div v-else-if="page == 'thread'">
          <h2>Create Thread</h2>
          <label>Enter a Title: </label>
          <input v-model="new_name">
          <label>Author</label>
          <input v-model="new_author">    
          <label>Description</label>
          <input v-model="new_description">
          <label>Category</label>
          <select v-model="new_category">
              <option v-for="category in categories" v-bind:value="category">
                  {{category}}
              </option>
          </select>
  
          <button v-on:click="createThread">Click me</button>
  
          <div></div>
      </div>

      <div v-else-if="page == 'post'">
          <h2>Posts</h2>
          <p>{{this.selectedPost.name}}</p>
          <h3>{{this.selectedPost.author}}</h3>
          <p>{{this.selectedPost.description}}</p>
          <p>{{this.selectedPost.category}}</p>

          <input type="text" placeholder="type your name" v-model="new_post_author">
          <input type="text" placeholder="type your words" v-model="new_post_body">

          <button v-on:click="createPost()">Post</button>
          <ul>
              <div v-show="postings.length == 0">
                  <p>no posts</p>
              </div>
              <li v-for="post in postings">
                  <p>{{post.author}}</p>
                  <p>{{post.body}}</p>
                  
                  <button v-on:click="deletePost(post)">Delete</button>
              </li>
          </ul>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="app.js"></script>
</body>

</html>

<!--<div>
            <button v-on:click="changePage('forum')">forum</button>
            <button v-on:click="changePage('thread')">thread</button>

        </div>
        <button v-on:click="antiMrClean">HITMAN</button>

        <div v-if="page == 'forum'">
          <select v-model="filter_catigory">
              <option v-for="category in categories" v-bind:value="category">
                  {{category}}
              </option>
          </select>
          <ul>
              <li v-for="thread in sorted_threads">
                  <div v-on:click="viewPost(thread)">
                      {{thread.name}} by {{thread.author}}
                      <br>
                      {{thread.description}} and {{thread.category}}
                  </div>

                  <button v-on:click="deleteThread(thread)">Delete</button>
                  <button v-on:click="viewPost(thread)">View</button>
  
              </li>
          </ul>
      </div>


      <div v-else-if="page == 'thread'">
          <h2>Create Thread</h2>
          <label>Enter a Title: </label>
          <input v-model="new_name">
          <label>Author</label>
          <input v-model="new_author">    
          <label>Description</label>
          <input v-model="new_description">
          <label>Category</label>
          <select v-model="new_category">
              <option v-for="category in categories" v-bind:value="category">
                  {{category}}
              </option>
          </select>
  
          <button v-on:click="createThread">Click me</button>
  
          <div></div>
      </div>

      <div v-else-if="page == 'post'">
          <h2>Posts</h2>
          <p>{{this.selectedPost.name}}</p>
          <h3>{{this.selectedPost.author}}</h3>
          <p>{{this.selectedPost.description}}</p>
          <p>{{this.selectedPost.category}}</p>

          <input type="text" placeholder="type your name" v-model="new_post_author">
          <input type="text" placeholder="type your words" v-model="new_post_body">

          <button v-on:click="createPost()">Post</button>
          <ul>
              <div v-show="postings.length == 0">
                  <p>no posts</p>
              </div>
              <li v-for="post in postings">
                  <p>{{post.author}}</p>
                  <p>{{post.body}}</p>
                  
                  <button v-on:click="deletePost(post)">Delete Post</button>
              </li>
          </ul>
      </div>-->